body {
  background-color: black;
  color: #00ac8c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  margin: 100px auto;
  max-width: 600px;
  background-color: rgba(245, 245, 245, 0.1);
  padding: 20px 40px;
  border-radius: 20px;
}

header {
  margin-bottom: 25px;
}

h1 {
  font-family: "Rye", serif;
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
  color: #00ac8c;
}

form {
  display: flex;
}

.form-container {
  background-color: rgb(0, 172, 140, 0.35);
  border-radius: 15px;
  box-shadow: 0px 20px 60px rgb(199, 49, 194, 0.35);
  margin-bottom: 30px;
  padding: 20px 20px 15px 20px;
}

.input-prompt {
  background-color: black;
  color: #9e3d98;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 116px4px;
  font-weight: 700;
  width: 80%;
  line-height: 1.5;
}

.submit-button {
  margin-left: 10px;
  border: none;
  background-color: black;
  color: #9e3d98;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 800;
}

.submit-button:active {
  box-shadow: inset 0px 0px 10px #9e3d98;
  outline: none;
}

.hint {
  color: rgb(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 100;
  padding-top: 5px;
}

.skill {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}

section.imageContainer {
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1.5s linear infinite;
}

@keyframes blink-animation {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}

.sign-off {
  color: #9e3d98;
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
}

a {
  color: #9e3d98;
}

a:hover {
  color: white;
  font-weight: 500;
  font-size: small;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  font-size: smaller;
  text-align: center;
}

/* generating spinner for image -- not included in project  */
/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section.imageContainer.loading::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 4px solid #9e3d98;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
} */
